@use 'variables' as v;

@mixin heading ($color: blue, $border-radius: false) {
    text-transform: uppercase;
    font-size: 2.4rem;
    color: $color;
    letter-spacing: 15px;
    text-align: center;
    background-color: black;

    @if $border-radius {
        border-radius: 1rem;
    }
}

